<h2>Inputs</h2>
<% unless @nodes.blank? %>
  <table class="table table-striped">
    <thead>
      <th>name</th>
      <th>host:port</th>
      <th>sentinel api type</th>
      <th>updated</th>
      <th></th>
    </thead>
    <tbody>
      <% @nodes.each do |node| %>
        <tr>
          <td width="30%"><%= link_to "#{node.name}", edit_node_path(node), title: 'edit node' %></td>
          <td><%= "#{node.url_domain_ip}:#{node.url_port}" %></td>
          <td><%= SentinelSearchType.find(node.sentinel_search_type_id).name %></td>
          <td><%= node.updated_at.utc.strftime("%a, %b %d, %Y %H:%M:%S") %></td>
          <td><%= link_to 'delete', node_path(id: node.id), data: {confirm: "\nAre you sure?\n\n"}, method: :delete, class: 'btn btn-danger btn-mini' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @nodes, inner_window: 2, style: 'font-size:small' %>
<% end %>
