<%#
<div class="alert alert-success">
  <a class="close" data-dismiss="alert">×</a>
  Retrieved info from <%= pluralize(@requestor.sentinels.count, 'node') % > in <%=@elapsed % > seconds.
</div>
%>
<% @requestor.sentinels.each do |node| %>
  <% sentinel_type = Sentinel.find_by_name(node[1].name).sentinel_search_type.name %>
  <h2>
    <%= node[1].name %> <%#= node[0].inspect %>
    <span style="font-size:12px">
      <%= node[1].url_domain_ip + ':' + node[1].url_port.to_s %>
      &nbsp;type: <%= sentinel_type%>
    </span>
  </h2>
  <% if node[1].response.code == 200
      result = JSON.parse(node[1].response.body) %>
        <h4>uptime: <%= result["uptime"] %></h4>
        <br />
        <% if sentinel_type == 'Syslog_Sphinx' %>
            <div class="alert alert-info">
              <table cellpadding="0" cellspacing="0" border="0" class="table table-striped">
                <thead>
                  <th>type of indexes</th>
                  <th style="text-align:right">total indexes</th>
                  <th style="text-align:right">total logs</th>
                </thead>
                <tbody>
                  <tr>
                    <td>temporary</td>
                    <td style="text-align:right"><%= number_with_delimiter(result["temps"]) %></td>
                    <td style="text-align:right"><%= number_with_delimiter(result["total_temps"]) %></td>
                  </tr>
                  <tr>
                    <td>permanent</td>
                    <td style="text-align:right"><%= number_with_delimiter(result["perms"]) %></td>
                    <td style="text-align:right"><%= number_with_delimiter(result["total_perms"]) %></td>
                  </tr>
                  <tr>
                    <td colspan="3" style="text-align:right">Total Indexed Logs:&nbsp;&nbsp;&nbsp;<%= number_with_delimiter(result["total"]) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
        <% else %>
            <%= number_with_delimiter(result["total"]) %> records
        <% end %>
      <br />
      <%= render  partial: 'info',
                  locals: {
                    node_name: node[1].name,
                    mem: result["mem"],
                    disk: result["disk"],
                    node_result: result
                  }
      %>
      <hr />
  <% else %>
    <div class="alert alert-error">
      URL: <%= node[1].response.request.url %><br />
      HTTP response code: <%= node[1].response.code.to_s %><br />
      HTTP status: <%= node[1].response.status_message %>
    </div>
  <% end %>
<% end %>
