<div id="group">
	<% if @group.errors.any? %>
	  <div class="alert alert-error">
	    <h4>Errors:</h4>
	    <ul class="unstyled">
	      <% @group.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>
  <%= form_for @group, :html => { :class => 'form-horizontal' } do |f| %>
    <fieldset>
      <legend>Group</legend>
      <div class="control-group">
        <label class="control-label" for="input01">Name</label>
        <div class="controls">
          <% if @group.name && @group.name.downcase == 'admins' %>
            <%= f.text_field :name, class: "input-xlarge disabled", disabled: '' %>
            <p class="help-block">the group named <em>admins</em> is required and may not be changed</p>
          <% else %>
            <%= f.text_field :name, class: "input-xlarge" %>
          <% end %>
        </div>
      </div>
      <div class="control-group">
        <%= hidden_field_tag "group[user_ids][]", nil %>
        <label class="control-label" for="optionsCheckboxList">Users</label>
        <div class="controls">
          <% User.all.each do |user| %>
            <label class="checkbox">
              <% if user.username.strip.downcase == 'admin' && @group.name && @group.name.downcase == 'admins' %>
                  <%= check_box_tag "group[user_ids][]", user.id, @group.user_ids.include?(user.id), disabled: "disabled" %>
                  <%= user.username %>
                  <p class="help-block">The default admin may not be removed from this group.</p>
                  <%= hidden_field_tag "group[user_ids][]", user.id %>
              <% else %>
                  <%= check_box_tag "group[user_ids][]", user.id, @group.user_ids.include?(user.id), id: dom_id(user) %>
                  <%= user.username %>
              <% end %>
            </label>
          <% end %>
        </div>
      </div>
      <div class="control-group">
				<div class="controls">
					<em><b>Under development</b>: limit this group of users to certain Host IP's</em>
				</div>
      </div>
      <div class="form-actions">
        <%= f.submit nil, class: "btn btn-primary" %>
        <%= link_to 'Cancel', groups_path, :class => 'btn' %>
      </div>
    </fieldset>
  <% end %>
</div>
