<!-- <div style="background-color:#fff; height:750px; margin-left:10px"> -->
<div style="background-color:#fff; padding-top:20px; margin-left:10px">
  <h2>
    <%=@dashboard.name%>
  </h2>
	<h3>
    <span style="margin-left:15px">chart <%=chartx%>. <%=chart_div_name%> (pdf version)</span>
  </h3>
  <div id='<%=chart_div_name%>' style="height:900px"></div>
</div>
<!-- <div style="height:890px"><h1>&nbsp;</h1></div> -->
<%# note: using the package 'charteditor' will automatically load the appropriate
          chart drawing packages, even though we are not using the editor here:  %>
<script type="text/javascript">google.load('visualization', '1.1', {packages: ['charteditor']});</script>
<script type='text/javascript'>
$(document).ready(function() {
  var noChartErrors = true;
  var chartEditor = null;
  var wrapper = null;
  var chart_type = "<%=chart_type.blank? ? 'Table' : chart_type%>";
  var chart_json_serialized = <%=chart_json_serialized.blank? ? 'null' : chart_json_serialized%>;
  if ( (chart_json_serialized == null) || (typeof chart_json_serialized === 'undefined') ) {
    wrapper = new google.visualization.ChartWrapper({
      chartType: chart_type,
      options: {
        title: '<%=escape_javascript(chart_title)%>',
        hAxis: {title: '<%=source_name%>.<%=source_field%>'},
        is3D: false,
        colors: ['teal','tomato','cornflowerblue','darkorange','green','blue','brown','red'],
        chartArea: {width:'auto', height:'auto'},
        sortColumn: 1, sortAscending: false, page: 'enable', pageSize: 10
      },
      containerId: '<%=chart_div_name%>'
    });
    }
  else {
    var chart_json_serialized = jQuery.parseJSON('<%=chart_json_serialized%>');
    var wrapper = new google.visualization.ChartWrapper(chart_json_serialized);
  }
  google.visualization.events.addListener(wrapper, 'error', function errorHandler(e) {
    noChartErrors = false;
    console.log(noChartErrors);
    console.log(e.id);
    console.log(e.message);
  });
  var data = google.visualization.arrayToDataTable(<%=chart_results%>);
  wrapper.setDataTable(data);
  wrapper.draw(data);
});
</script>
