<div id="<%=chart_div_name%>" style="height:<%=chart_height%>; width:<%=chart_width%>;"></div>
<% 	# [["nt", "count"], ["service_control_manager", 195874], ["url", 196563], ["unknown", 711], ["windows", 1]]
		labels = []
		label_data = []
		chart_results.each_with_index do |result, x|
			labels << "#{"'"+result.value+"'"}"
		  label_data << "{data : [[#{x}, #{result.hits}]]}" # vertical
		end
		# label_data.sort!
		title = chart_is_widget ? 'null' : "'#{chart.chart_title}'"
		show_legend = chart_is_widget ? 'false' : 'true'
%>
<script type='text/javascript'>
jQuery(document).ready(function() {
	(function basic_bars(container, horizontal) {
		var labels = [<%= raw(labels.join(",")) %>];
	  // var horizontal = (horizontal ? true : false); // Show horizontal bars
	  var horizontal = false;
	  Flotr.draw(container,
			[<%= raw(label_data.join(",\n")) %>],
	    {
				colors : ["#3366CC","#DC3912","#FF9900","#109618","#990099"],
				title : <%= raw(title) %>,
		    HtmlText : false,
	      bars : {
	        barWidth : 0.5,
	        show : true,
	        horizontal : horizontal,
	        shadowSize : 0,
					fillOpacity : 1 // solid fill no gradient
	      },
	      mouse : {
					fillOpacity : 0,
					track : true,
					trackDecimals : 0,
					trackFormatter : function(obj){ return obj.y; },
		      position : 'ne',
	        relative : true
	      },
	      yaxis : {
	        min : 0,
	        autoscaleMargin : 1
	      },
	      xaxis : {
					noTicks : 3,
					tickDecimals: 0,
	      	// tickFormatter : function(n){ return labels[n-1]; }
	      	tickFormatter : function(n){ return labels[n]; }
	      }  
	    }
	  );
	})(document.getElementById("<%=chart_div_name%>"));
});
</script>
